[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

cryptography = ">=2.3"
pynacl="*"
bytestringSplitter = {git = "https://github.com/nucypher/bytestringSplitter.git", ref = "nucypher-depend"}

[dev-packages]
bumpversion = "*"
# Pytest Plugins
pytest = "*"
pytest-mypy = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-benchmark = {version = "*", extras = ["histogram"]}
# Pytest Plugin Subdeps
mock = "*"
mypy = "*"
monkeytype = "*"
coverage = "*"
codecov = "*"
# Docs
sphinx = "*"
sphinx-autobuild = "*"
# Testing libraries
hypothesis = "*"


[pipenv]
allow_prereleases = true
