[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
cryptography = ">=2.3"
pynacl = "*"

[dev-packages]
bumpversion = "*"
# Pytest Plugins
pytest = "*"
pytest-mypy = "*"
pytest-cov = "*"
pytest-benchmark = {version = "*",extras = ["histogram"]}
# Pytest Plugin Subdeps
mypy = "*"
coverage = "*"
codecov = "*"
# Testing libraries
nbval = "*"
# Docs
sphinx = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
# Overrides vulnerable versions allowed by codecov and sphinx:
requests = ">=2.20.0"

[pipenv]
allow_prereleases = true
